  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
  }
  .logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .item img{
    height: 200px;
    width: 300px;

  }
  .main-section {
    background-image: url(/images/image.png);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
  }
  .All-three :hover{
    color: #333;
    font-style: italic;

  }
  .content-section{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
  }
  .contentinfo{
    background-color: black;
    text-align: center;
    padding: 100px;
  }
  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .movie {
    color: white;
    width: 500px;
    height: 400px;
    padding: 40px;
    transition: transform 100ms;
    padding-left: 100px;
  }
  
  .movie img {
    height: 250px;
    object-fit: cover;
    width: 400px;
    border: 3px solid gray;
  }
  
  .movie:hover {
    transform: scale(1.1);
   
  }
  .movie img:hover{
    border: 5px solid green;
  }

  button {
    background-color: green;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 1px;
    border: none;
    cursor: pointer;
    max-width: 300px;
    margin: auto;
  }
  button:hover{
    background-color: grey;
  }

.movie-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
.livetv{
  text-align: center;
  background-color: #222;
  padding: 50px;
}
.tv{
  background-image: url(/images/sport_2-wallpaper-2400x1350.jpg);
  background-size: cover;
  padding: 100px;
}
iframe{
  border: 5px solid #222;
  height: 350px;
  width: 600px;
}
li{
  color: white;
  list-style: none;
}
.plan-section {
  padding: 50px 0;
  background-color: black;
}
table {
  margin: auto;
  border-collapse: collapse;
  color: #ccc;
}
td,
th {
  padding: 10px;
  height: 60px;
  width: 100px;
}
th {
  color: white;
}
form {
  padding: 50px;
  background-color: #333;
  background-size: cover;
  background: #222;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label,
input,
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding:25px 20px 25px 20px;
  color: #222;
  min-height: 150px;
  background-color: white;
}
.footer-links ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-links a{
  padding: 0 10px;
  text-decoration: none;
  color: grey;
}
.footer-links a:hover{
  color: black;
}
.footer-links li{
 display: inline-block;
}
.social-media-links ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-media-links li{
  display: inline-block;
}
.social-media-links a{
  text-decoration: none;
  padding: 0 10px;
  color: grey;
}
.social-media-links a:hover{
  color: black;
}
.social-media-links li{
  font-size: 20px;
}